.calendar {
  display: grid;
  grid-template-rows: auto auto;
  font-family: "Roboto", sans-serif;
  font-size: medium;
  color: #444;
  flex-direction: column;
  border-radius: 5px;
  justify-content: center;
  padding: 10px;
}

.calendar-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  padding: 10px;
  font-size: small;
  margin-top: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.calendar-year {
  padding: 10px;
  cursor: pointer;
}

.calendar-year:hover,
.calendar-year-selected {
  font-weight: 600;
}

.calendar-months {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  margin-top: 10px;
}

.calendar-month {
  display: grid;
  grid-template-rows: 1fr 1fr 5fr;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  margin: 5px;
  font-size: small;
  min-width: 240px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.calendar-month-header {
  text-align: center;
}

.calendar-days-labels {
  display: grid;
  grid-template-columns: repeat(7, 30px);
  margin: 5px;
  font-size: small;
}

.calendar-day-label {
}

.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 30px);
  grid-template-rows: repeat(5, 30px);
  margin: 2px;
  font-size: small;
}

.calendar-day {
  display: flex;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  height: 18px;
  padding-top: 6px;
  padding-bottom: 6px;
  /* border: 1px solid black; */
}

.calendar-day-not-empty {
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}

.calendar-day-not-empty:hover {
  background-color: #f2f2f2;
  color: black;
}
